.about-container-head {
    padding-top: 5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}

.about-container-content {
    height: auto; 
    color: rgb(245, 245, 245);
    max-width: 1200px;
    width: 80%;
    margin: 0 auto; 
    background: #1d51c1;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-radius: 10px;
}

.container-body {
    display: flex;
    justify-content: center; 
}

.container-body > div {
    flex: 1 1 50%; 
    margin-right: 20px;
    padding: 10px;
}

.about-figure {
    max-width: 50%;
    height: 50%;
    display: block;
    margin: 0 auto;
}

.about-subheading {
    text-align: center;
}

.aboutfigure-div {
    text-align: center;
    margin-left: 10%;
}

.about-text1-div {
    text-align: left;
    font-size: 18pt;
    margin-left: 15px;
}

.about-text2-div {
    text-align: left;
    font-size: 16px;
}

.start-button:hover {
    opacity: 0.7;
}

.social-icon {
    margin-right: 10px;
}

.social-icon:hover {
    cursor: pointer;
    opacity: 0.7;
}

@media (max-width: 1000px) {
    .sidebar {
        display: none;
    }
    .about-container-content {
        width: 100%; 
        padding: 10px; 
        border-radius: 0px; 
    }

    .container-body > div {
        flex: 1 1 100%; 
        margin-right: 0; 
    }

    .container-body {
        flex-wrap: wrap; 
    }

    .about-text1-div {
        font-size: 16pt; 
    }

    .about-text2-div {
        display: none; 
    }

    .about-figure {
        max-width: 80%; 
    }

    .about-container-head{
        padding-top: 9vh;
    }
}
