.help-container-head {
    padding-top: 5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}

.help-container-content {
    height: auto; 
    color: rgb(245, 245, 245);
    max-width: 1200px;
    width: 80%;
    margin: 0 auto; 
    background: #0080FF;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}

.help-container-body {
    display: flex;
    justify-content: center; 
}

.help-container-body > div {
    flex: 1 1 50%; 
    margin-right: 20px;
    padding: 10px;
}

.help-figure {
    max-width: 50%;
    height: 50%;
    display: block;
    margin: 0 auto;
}

.help-subheading {
    text-align: center;
}

.helpfigure-div {
    text-align: center;
    margin-left: 10%;
}

.help-text1-div {
    text-align: left;
    font-size: 18pt;
    margin-left: 15px;
}

.help-text2-div {
    text-align: left;
    font-size: 16px;
}



@media (max-width: 1000px) {
    .help-container-content {
        width: 100%; 
        padding: 10px; 
        border-radius: 0px; 
    }

    .help-container-body > div {
        flex: 1 1 100%; 
        margin-right: 0; 
    }

    .help-container-body {
        flex-wrap: wrap; 
    }

    .help-text1-div {
        font-size: 16pt; 
    }

    .help-text2-div {
        display: none; 
    }

    .help-figure {
        max-width: 80%; 
    }

    .help-container-head{
        padding-top: 4vh;
    }
}
