.home-containter-head{
    font-family: fantasy;
    padding: 10px;
}

.home-container-content {
    height: 68vh;
    max-width: 800px; 
    width: 80%;
    background-color: rgb(13, 191, 250);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25); 
    overflow: hidden; 
    border-radius: 10px; 
}

.home-container-body {
    display: flex;
    overflow: hidden; 
}

.home-container-body > div {
    flex: 1; 
    margin-right: 20px; 
    overflow: hidden; 
}

.home-figure {
    height: auto; 
    max-width: 100%; 
    width: auto; 
    display: block; 
    border-radius: 15px; 
}

.home-mission-div {
    text-align: left;
    padding-left: 20px;
    font-size: 16px; 
}

.home-button-div{
    text-align: center;
    padding: 10px;
}

.home-start-button{
    height: 80px;
    width: 200px;
    border-radius: 15px; 
    font-size: 15pt;
    background-color: rgb(16, 69, 150);
    color: white;
    border-width: 2px;
    border-color: rgb(22, 94, 201);
}

.home-start-button:hover{
    opacity: 0.7;
}


.social-icon{
    margin-right: 10px; 
}

.social-icon:hover{
    cursor: pointer;
    opacity: 0.7;
}




@media (max-width: 1000px) {

    .home-container-content {
        height: 100vh;
        width: 100vw;
        padding-top: 18vh;
        overflow: auto; 
    }

    .home-mission-div {
        font-size: 12px; 
    }

    .home-start-button{
        width: 150px;
    }
}
